
.jumbotron{

}

.navbar{
	
	 background:#1E88E5;
	 border:none;
	
}

.navbar .navbar-nav {
  color:white;
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
	 
  text-align: center;
}

#myNavbar li a{
	
	color:white;
}

#myNavbar li a:hover{
	
	color:#1E88E5;
	background:white;
}
				
/* 	*********************************************************
	*********************************************************
						Presentacion
	*********************************************************
	*********************************************************
 */
#presentacion {

	height:100%;
	background: url("../img/Silueta.jpg") grey;
	background-size:cover; 
	background-repeat: no-repeat;
	background-attachment: fixed;	
	padding:150px 10% 50px 10%;

}
			
#presentacion header{
	
	font-weight: bold;
	color: #1E88E5;
	text-align:left;
}

#presentacion article{

		padding:5%;
		font-size:1.3em;
		background:  white ;

}

#presentacion article:first-letter{

		color: #1E88E5;
		font-size:3em;

}

@media only screen and (min-width: 720px) {

	#presentacion article{

		margin-top:100px;
		padding:50px;
		width:60%;
		font-size:1.3em;
		/*background:  #567278 ;*/
		float:right;
	}

}


				
/* 	*********************************************************
	*********************************************************
						Formacion
	*********************************************************
	*********************************************************
 */

#formacion {
	padding:50px 10% 50px 10%;
	background:#1E88E5;
	color:white;
	
}



#educacion{
	padding:50px 10% 50px 10%;
	background:white;
	color:#1E88E5;
	
}

#educacion a{
	text-decoration:none;
	color:#1E88E5;
}




/* 	*********************************************************
	*********************************************************
						Experiencia
	*********************************************************
	*********************************************************
 */
#experiencia {

	padding:100px 10% 50px 10%;
	
	background: url("../img/experiencia.jpg") grey; 
	background-size:cover;   
	background-repeat: no-repeat;
}

#experiencia hgroup{
	
	color: #1E88E5;
	text-align:center;
}


@media only screen and (max-width:720px){
	#experiencia {

		padding:50px 3% 25px 3%;

	}
		
	

}

				
/* 	*********************************************************
	*********************************************************
						Proyectos
	*********************************************************
	*********************************************************
 */
#proyectos {
	padding:150px 10% 50px 10%;
	background: url("../img/experiencia.jpg") grey; 
	background-size:cover;   
	background-repeat: no-repeat;
	
	
	display: none;
}


@media only screen and (max-width:720px){
	#proyectos {

		padding:50px 3% 25px 3%;

	}
		
	

}

				
/* 	*********************************************************
	*********************************************************
						Contacto
	*********************************************************
	*********************************************************
 */
#contacto {
	padding:50px 10% 20px 10%;
	
	background: white;  
	background-size:cover;   
	background-repeat: no-repeat;
	background-attachment: fixed;	
}



@media only screen and (max-width:720px){
	#contacto {

		padding:50px 3% 10px 3%;

	}
}

#contacto .row{
	
	background:#1E88E5;
}




					
#contacto #texto{

	margin: 0 5px;
	
}

#contacto header{


	width:70%;
	font-size:2.3em;
	font-style:bold;
	color: white;
	margin-bottom:20px;

}

#contacto article{

	
	width:70%;
	font-size:1.2em;
	text-align:left;
	color:white;
	/*margin-right:50px;*/
	

}

#contacto #formulario{
	border-radius: 5px;
	width : 40%;
	padding:5px;

	text-align:center;
	margin: 0 5px;
}

#contacto #formulario #nombre{
	border:none;
	height:35px;
	border-radius: 5px;
	width:49%;
	
}
#contacto #formulario #email{
	border:none;
	height:35px;
	border-radius: 5px;
	width:49%;
	
}
#contacto #formulario #asunto{
	border:none;
	border-radius: 5px;
	width:99%;
	box-sizing : border-box;
	height:35px;
	margin-top:10px;
	margin-bottom:10px;
}

#contacto #formulario #mensaje{
	
	border:none;
	display: block;
	border-radius: 10px;
	box-sizing : border-box;
	resize: none;
	height:100px;
	width:99%;
	padding:2%;
}

#contacto #formulario #enviar{
	border:none;
	border-radius: 5px;
	height:35px;
	width:50%;
}

@media only screen and (max-width: 1200px) {

	#contacto header{

		width:100%;

	}

	#contacto article{

		width:100%;

	}

	#contacto #formulario{
		
		width : 100%;	
	}

}
								
/* 	*********************************************************
	*********************************************************
						Pie de pagina
	*********************************************************
	*********************************************************
 */


footer{
	text-align:center;
	background:#424949 ;
	font-size:.7em;
	height:15px;
	color:white;
}