
.jumbotron{

}

.navbar{
	
	 background:#1E88E5;
	 border:none;
	
}

.navbar .navbar-nav {
  color:white;
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
	 
  text-align: center;
}

#myNavbar li a{
	
	color:white;
}

#myNavbar li a:hover{
	
	color:#1E88E5;
	background:white;
}
				
/* 	*********************************************************
	*********************************************************
						Presentacion
	*********************************************************
	*********************************************************
 */
#presentacion {

	height:100%;
	background: url("../img/Silueta.jpg") grey;
	background-size:cover; 
	background-repeat: no-repeat;
	background-attachment: fixed;	
	padding:150px 10% 50px 10%;

}
			
#presentacion header{
	
	font-weight: bold;
	color: #1E88E5;
	text-align:left;
}

#presentacion article{

		padding:5%;
		font-size:1.3em;
		background:  white ;

}

#presentacion article:first-letter{

		color: #1E88E5;
		font-size:3em;

}

@media only screen and (max-width: 720px){
	
	#presentacion {

		padding:50px 10% 50px 10%;

	}
} 

@media only screen and (min-width: 720px) {

	#presentacion article{

		margin-top:10px;
		padding:50px;
		width:60%;
		font-size:1.3em;
		float:right;
	}

}


				
/* 	*********************************************************
	*********************************************************
						Formacion
	*********************************************************
	*********************************************************
 */

#formacion {
	padding:50px 10% 50px 10%;
	background:#1E88E5;
	color:white;
	
}

#educacion{
	padding:50px 10% 50px 10%;
	background:white;
	color:#1E88E5;
	
}

#educacion a{
	text-decoration:none;
	color:#1E88E5;
}




/* 	*********************************************************
	*********************************************************
						Experiencia
	*********************************************************
	*********************************************************
 */
#experiencia {

	padding:100px 10% 50px 10%;
	
	background: url("../img/experiencia.jpg") grey; 
	background-size:cover;   
	background-repeat: no-repeat;
}

#experiencia hgroup{
	
	color: #1E88E5;
	text-align:center;
}


@media only screen and (max-width:720px){
	#experiencia {

		padding:50px 3% 25px 3%;

	}
		
	

}

#contact{
	
	padding-bottom:50px;
}
							
/* 	*********************************************************
	*********************************************************
						Pie de pagina
	*********************************************************
	*********************************************************
 */


footer{
	text-align:center;
	font-size:.7em;
	height:15px;
	border-top:solid #1E88E5 1px;
}